
<h3><%= @house.name %></h3>
<h4>Motto: <%= @house.motto %></h4>
<h4>Kingdom: <%= @house.kingdom %></h4>
<img src="<%= @house.crest_url %>">

<h3>House Members</h3>
<% @house.characters.each do |character| %>
  <p>Name: <%= link_to character.name, house_character_path(@house, character) %></p>
  <img src="<%= character.image_url %>">
<%end%>

<%= link_to "Edit House", edit_house_path(@house) %>
<%= link_to "Delete House", house_path(@house), :method => :delete %>
<%= link_to "Add House Member", new_house_character_path(@house) %>
